.Footer {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    background-color: #222222;
    align-items: center;
    gap: 6rem;
    padding: 1.8rem;
    font-family: 'Gabarito', cursive;
}
.Social {
    display: flex;
    gap: 2rem;
}
.scoialImg {
    font-size: 2rem;
    border-radius: 6rem;
    color: white;
}
@media only screen and (width<= 480px){
    .Footer {
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        background-color: #222222;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem;
    }
    .Social {
        display: flex;
        gap: 0.5rem;
    }
    .scoialImg {
        font-size: 1.5rem;
        border-radius: 1.2rem;
        color: white;
    }
}