@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 12vh;
    z-index: 5;
    align-items: center;
    gap: 0rem;
    background-color: #222222;
}
.logoname{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-left: 4rem;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    font-family: 'Gabarito', cursive;
}
.logoname::after{
    content: "</>";
    color: rgb(231, 0, 231);
}
.navbtn{
    position: absolute;
    right: 5rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    gap: 4rem;
}
.navlinks{
    color: white;
    font-family: 'Gabarito', cursive;
}
.navlinks:hover{
    color: rgb(255, 14, 255);
}
@media only  screen and (width<= 480px) { 
    .logoname {
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        margin-left: 1rem;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    .navbtn {
        position: absolute;
        right: 0.5rem;
        font-size: 1.2rem;
        color: white;
        display: flex;
        gap: 1rem;
    }
    .introCont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10rem;
    }
    .IntroMessage {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .typing {
        font-size: 1rem;
        color: rgb(255 28 255);
        font-family: "Gabarito", cursive;
    }
    .mydetail {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    .introImg {
        width: 50%;
    }
}